:root {
    --create-form-width: 600px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.submit-btn {
    width: calc(var(--create-form-width) * 3 / 5);
}

.icon-button {
    background-color: transparent;
    font-size: 0;
    cursor: pointer;
    margin-right: 5px;
}

.create-form {
    width: var(--create-form-width);
}

.form-radio-btn {
    width: calc(var(--create-form-width) / 2);
}

.h-font {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5px;
}